<h1>Edit details for {{rink.name}}</h1>

<form class="form_container" action="/users/{{userId}}/rinks/{{rink._id}}?_method=PUT" method="POST">
    <div class="form_field">
        <label for="name">Name</label>
        <input type="text" name="name" value="{{rink.name}}" required/>
    </div>

    <div class="form_field">
        <label for="photoUrl">Photo Link</label>
        <input type="text" name="photoUrl" value="{{rink.photoUrl}}" required/>
    </div>

    <div class="form_field">
        <label for="phone">Phone #</label>
        <input type="text" name="phone" value="{{rink.phone}}" />
    </div>

    <div class="form_field">
        <label for="location">Location</label>
        <input type="text" name="location" value="{{rink.location}}" />
    </div>

    <div class="button_container">
    <input class="btn" type="submit" value="Update Rink">
    </div>
</form>