<h1>{{userFullName}}'s Favorite Rinks</h1>

<div class="rinks_container">
    {{#each rinks}}
    <div class="rink_card">
        <a class="rink_card_inner"href="/users/{{../userId}}/rinks/{{this._id}}">
            <div>
                <h3>{{this.name}}</h3>
            </div>
            <div>
                <img class="rink_image" src="{{this.photoUrl}}" alt="{{this.name}} photo">
            </div>
        </a>
    </div>
    {{/each}}
</div>

<div>
    <div class="button_container">
        <a class="btn" href="/users/{{userId}}/rinks/new">Create Rink</a>
    </div>
</div>