<h1>{{userFullName}}'s Favorite Rinks</h1>

<div>
    {{#each rinks}}
    <div>
        <a href="/users/{{../userId}}/rinks/{{this._id}}">
            <h3>{{this.name}}</h3>
            <img class="rink_image" src="{{this.photoUrl}}" alt="{{this.name}} photo">
        </a>
    </div>
    {{/each}}
</div>

<div>
    <div class="button_container">
        <a class="btn" href="/users/{{userId}}/rinks/new">Create Rink</a>
    </div>
</div>