<h1> One Rink Page</h1>

<div>
    <h1>{{rink.name}}</h1>
    <h3>{{rink.phone}}</h3>
</div>

<div>
    {{#each rink.sticktimes}}
    <a href="/users/{{../userId}}/rinks/{{../rink._id}}/sticktimes/{{this._id}}">
    {{this.dayOfWeek}}</a>
    {{/each}}

</div>