<body class="rink_background">
    <div class="rink_name">
        <h1>{{rink.name}}</h1>
    </div>

    <div>
        <h2>City: {{rink.location}}</h2>
        <h2>Phone#: {{rink.phone}}</h2>
    </div>

    <div>
        {{#each rink.sticktimes}}
        <h1>Available sticktimes:</h1>
        <a class="day_of_week" href="/users/{{../userId}}/rinks/{{../rink._id}}/sticktimes/{{this._id}}">
            <div>{{this.dayOfWeek}}</div>
        </a>
        {{/each}}
    </div>

    <div class="button_container">
        <a class="btn" href="/users/{{userId}}/rinks/{{rink._id}}/edit">Edit Rink</a>
    </div>
</body>