<h1>{{pageTitle}}</h1>
<div class="user_card">
<div>
    {{#each users}}
    <a href="/users/{{this._id}}">
        <div>
            <img class="profile_image"src="{{this.photoUrl}}" alt="{{this.firstName}}'s profile photo">
        </div>
        <div>
            {{this.firstName}} {{this.lastName}}        
        </div>
    </a>
    {{/each}}
</div>
</div>
<a href="/users/new">Create New User</a>
