<h1>{{pageTitle}}</h1>

<div>
    {{#each users}}
    <a href="/users/{{this._id}}">
        <div>
            <img src="{{this.photoUrl}}" alt="{{this.firstName}}'s profile photo'">
        </div>
        <div>
            {{this.firstName}} {{this.lastName}}        
        </div>
    </a>
    {{/each}}
</div>