<h1>{{user.firstName}} {{user.lastName}}</h1>

<div class="user_card">
    <img class="profile_image" src="{{user.photoUrl}}" alt="{{this.firstName}}'s profile photo">
</div>

<div>
    <a href="/users/{{user._id}}/edit">Update</a>
</div>

<div>
    <a href="/users/{{user._id}}/delete">Delete</a>
</div>

<div>
    <a href="/users/{{user._id}}/rinks">Favorite Rinks</a>
</div>